---
import Layout from "../layouts/AboutLayout.astro"; 
---

<Layout title="">
    <div class="contact">
        <div class="love">
            <h3>My love project</h3>
            <ul>
                <li>Dose3 starter kit {`>>> `} <a href="https://dose3-docs.vercel.app/">docs</a></li>
                <li>My math book {`>>> `} <a href="https://dxsenote.vercel.app/">Book</a></li>
                <li>My university project {`>>> `} <a href="/app/Energy_1.0.0_x64_en-US.msi">Energy</a></li>
            </ul>
        </div>
        <div class="prpoject">
            <h3>My mini project</h3>
            <ul>
                <li>Ecommerce website {`>>> `} <a href="https://solid-ecom.vercel.app/">Ecommerce</a></li>
                <li>Data visualize App {`>>> `} <a href="/app/Data_0.0.0_x64_en-US.msi" download>Data</a></li>
                <li>Image classification {`>>> `} <a href="https://dose-ai.netlify.app/">AI</a></li>
                <li>PDF file generater {`>>>  `} <a href="https://pdf-indol.vercel.app/">PDF</a></li>
                <li>Date time management Syetem {`>>>  `} <a href="https://dose-hotel.vercel.app/">Hotel</a></li>
                <li>Location map selecter {`>>>  `} <a href="#">Location</a></li>
            </ul>
        </div>
        <div class="stack">
            <h3>My stack && skill</h3>
            <ul>
                <li>ReactJS , SolidJS , NextJS , AstroJS , Tauri</li>
                <li>ExpressJS , Axum</li>
                <li>Mongoose , Prisma , Sqlx</li>
                <li>Postman , Vitest , K6</li>
                <li>Supabase , MongoDB</li>
            </ul>
        </div>
    </div>
</Layout>

<style lang="scss">
    .contact{
        width: 100%;
        .about{
            margin-top: 0px;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            .text{
                width: 100%;
                h2{
                    border-bottom: 2px solid white;
                    width: fit-content;
                }
                p{
                    font-size: 0.9em;
                    text-indent:2em;
                }
            }
        }
    }
</style>