---
import Layout from "../layouts/AboutLayout.astro"; 
import {myProject} from '../utils/project'
---

<Layout title="">
    <div class="contact">
        <div class="about">
            <div class="text">
                <p>Hello! My name is Dose, and I'm interested in creating innovative solutions and writing software that can enhance software performance. I enjoy working with SolidJS + Astro for UI development and Actix-web for server-side development. Additionally, I'm proficient in the basics of ReactJS and ExpressJS using TypeScript, which is a language I particularly enjoy.</p>
                <p>I have knowledge in REST APIs and tRPC, and I understand how to interact with databases using ORMs and ODMs such as Mongoose and Prisma. While I have some understanding of unit testing with vitest, I'm also interested in exploring application performance through the study of tools like Swc, Vite, lifecycle management, and Big O.</p>
                <p>Furthermore, I can create desktop and mobile apps using Tauri, which offers small size and high performance. I have a fondness for both Rust and TypeScript as programming languages.</p>
            </div>
        </div>  
        <div class="love">
            <h3>My love project</h3>
            <ul>
                <li>Dose3 starter kit {`>>> `} <a href="">docs</a></li>
                <li>My university project {`>>> `} <a href="">Energy</a></li>
            </ul>
        </div>
        <div class="prpoject">
            <h3>My mini project</h3>
            <ul>
                <li>Ecommerce website {`>>> `} <a href="">Ecommerce</a></li>
                <li>Data visualize App {`>>> `} <a href="">Data</a></li>
                <li>Image classification {`>>> `} <a href="">AI</a></li>
                <li>PDF file generater {`>>>  `} <a href="">PDF</a></li>
                <li>Date time management Syetem {`>>>  `} <a href="">Hotel</a></li>
                <li>Location map selecter {`>>>  `} <a href="">Location</a></li>
            </ul>
        </div>
        <div class="stack">
            <h3>My stack && skill</h3>
            <ul>
                <li>ReactJS , SolidJS , NextJS , AstroJS , Tauri</li>
                <li>ExpressJS , Axum</li>
                <li>Mongoose , Prisma , Sqlx</li>
                <li>Postman , Vitest , K6</li>
                <li>Supabase , MongoDB</li>
            </ul>
        </div>
    </div>
</Layout>

<style lang="scss">
    .contact{
        width: 100%;
        .about{
            margin-top: 0px;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            .text{
                width: 100%;
                h2{
                    border-bottom: 2px solid white;
                    width: fit-content;
                }
                p{
                    font-size: 0.9em;
                    text-indent:2em;
                }
            }
        }
    }
</style>